@model BizzDesk_Leap_Client.Areas.HRAdmin.ViewModels.DepartmentViewModel

@{
    ViewBag.Title = "Search Department";
    int x = 1;
}

@section menu{
    <li><a href="#"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li class="active"><a href="@Url.Action("Index", "Department", new { Area = "HRAdmin"})"><i class="fa fa-users"></i> <span>Departments</span></a></li>
    <li><a href="@Url.Action("Index", "Rank", new { Area = "HRAdmin"})"><i class="fa fa-star-o"></i> <span>Ranks</span></a></li>
    <li><a href="@Url.Action("Index", "Employee", new { Area = "HRAdmin"})"><i class="fa fa-user"></i> <span>Employees</span></a></li>
    <li><a href="@Url.Action("Index", "Leave", new { Area = "HRAdmin"})"><i class="fa fa-sign-out"></i> <span>Leaves</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
        </ul>
    </li>
}

<section class="content-header">
    <h1> @ViewBag.Title </h1>

    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                Home
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Department", new { Area = "HRAdmin"})">
                <i class="fa fa-users"></i>
                Departments
            </a>
        </li>
        <li class="active">
            <a>
                <i class="fa fa-search"></i>
                Search
            </a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
            @using (Html.BeginForm("Search", "Department", new { Area = "HRAdmin" }, FormMethod.Post))
            {
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class="pull-left">
                        <a class="btn btn-info btn-sm" href="@Url.Action("Index", "Department", new { Area = "HRAdmin"})"><i class="fa fa-backward"></i> Return to Department List</a>
                    </div>
               
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            @Html.TextBoxFor(m => m.Department.Title, new { @placeholder = "Search", @class = "form-control pull-right", @name = "table_search", @type = "text" })

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                     </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th></th>
                            <th>S/N</th>
                            <th>Title</th>
                            <th>Options</th>
                        </tr>
                        @if (ViewBag.Result != null)
                        {
                            foreach (var dept in ViewBag.Result)
                            {
                                <tr>
                                    <td></td>
                                    <td>@(x++)</td>
                                    <td>@dept.Title</td>
                                    <td>
                                        <a class="btn btn-success btn-xs" data-modal="" href="@Url.Action("Edit", "Department", new { Area = "HRAdmin", id = dept.ID })"><i class="fa fa-pencil"></i> Edit </a>
                                        <a class="btn btn-danger btn-xs delete" href="@Url.Action("Delete", "Department", new { Area = "HRAdmin", id = dept.ID })"><i class="fa fa-trash"></i> Delete </a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <!-- /.box-body -->
            }
            </div>
            <!-- /.box -->
        </div>
    </div>
    
    <!-- modal placeholder-->
    <div id='myModal' class='modal modal-primary fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-content" id='myModalContent'></div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/modal.js"></script>
        <script type="text/javascript" src="~/Scripts/delete-modal.js"></script>
    }
                 
</section>