@model BizzDesk_Leap_Client.Areas.HRAdmin.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section menu{
    <li class="active"><a href="@Url.Action("Index", "Dashboard", new { Area = "Employees"})"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li><a href="@Url.Action("Index", "Request", new { Area = "Employees"})"><i class="fa fa-paper-plane"></i> <span>Leave Requests</span></a></li>
}

<section class="content-header">
    <h1> @ViewBag.Title </h1>

    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                Home
            </a>
        </li>
        <li class="active">
            <a href="@Url.Action("Index", "Dashboard", new { Area = "Employees"})">
                <i class="fa fa-dashboard"></i>
                Dashboard
            </a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><strong>Profile</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body row">
                    <div class="col-md-6">
                        <strong> Last Name: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.LastName)</p>
                        <strong> Middle Name: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.MiddleName)</p>
                        <strong> First Name: </strong>
                        <p>@Html.DisplayFor(model => model.Employee.FirstName)</p>
                        <strong> Gender: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.Gender)</p>
                        <strong> Date of Birth: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.DOB)</p>
                     </div>  
                    <div class="col-md-6">
                        <strong> Date of Appointment: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.AppointmentDate)</p>
                        <strong> Department: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.Department.Title)</p>
                        <strong> Rank: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.Rank.Title)</p>
                        <strong> E-mail Address: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.Email)</p>
                        <strong> Address: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.Address)</p>
                        <strong> Phone Number: </strong>
                        <p> @Html.DisplayFor(model => model.Employee.PhoneNo)</p>
                    </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    </div>
</section>
