@model BizzDesk_Leap_Client.Areas.HRAdmin.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    var y = Convert.ToInt32(Session["count"]);
}

@section menu{
    <li class="active">
        <a href="@Url.Action("Index", "Dashboard", new { Area = "HRAdmin"})">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="header">PERSONNEL</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Employee</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="@Url.Action("Index", "Employee", new { Area = "HRAdmin"})"><i class="fa fa-circle-o"></i> Staff 
            @if (ViewBag.EmployeeCount != 0){<span class="badge label-primary pull-right">@ViewBag.EmployeeCount</span>}</a></li>
            <li><a href="@Url.Action("Index", "Department", new { Area = "HRAdmin"})"><i class="fa fa-circle-o"></i> Department 
            @if (ViewBag.DepartmentCount != 0){<span class="badge label-default pull-right">@ViewBag.DepartmentCount</span>}</a></li>
            <li><a href="@Url.Action("Index", "Rank", new { Area = "HRAdmin"})"><i class="fa fa-circle-o"></i> Positions                     
            @if (ViewBag.RankCount != 0){<span class="badge label-info pull-right">@ViewBag.RankCount</span>}</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Salary </a></li>
            <li><a href="@Url.Action("Index", "Location", new { Area = "HRAdmin"})"><i class="fa fa-circle-o"></i> Location </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Bank </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span> Human Resource </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="@Url.Action("Index", "LeaveType", new { Area = "HRAdmin"})"><i class="fa fa-circle-o"></i> Leave Types </a></li>
            <li><a href="@Url.Action("Index", "Leave", new { Area = "HRAdmin"})"><i class="fa fa-circle-o"></i> Leaves 
            @if (ViewBag.LeaveCount != 0){<span class="badge label-success pull-right">@ViewBag.LeaveCount</span>}</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Attendance </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Assessments </a></li>
        </ul>
    </li>

    <li class="header"> PROJECTS </li>

    <li>
        <a href="#">
            <i class="fa fa-wrench"></i> <span>Project Management</span>
        </a>
    </li>

    <li class="header"> ACCOUNTS </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-file"></i> <span>Payroll</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="#"><i class="fa fa-circle-o"></i> Allowance </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Deductions </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Payroll </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Payslip </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder-open"></i> <span>Receipts and Reports </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="#"><i class="fa fa-circle-o"></i> Account Type </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Category </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Class </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Credit </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Debit </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart"></i> <span>Assests and Inventory </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li><a href="#"><i class="fa fa-circle-o"></i> Category </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Product </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Supplier </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Checkout </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Stock/Asset </a></li>
        </ul>
    </li>
}

<section class="content-header">
    <h1> @ViewBag.Title </h1>

    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                Home
            </a>
        </li>
        <li class="active">
            <a href="@Url.Action("Index", "Dashboard", new { Area = "HRAdmin"})">
                <i class="fa fa-sign-out"></i>
                Dashboard
            </a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.DepartmentCount</h3>

                    @if (ViewBag.DepartmentCount == 1)
                    {
                        <p>Department</p>
                    }
                    @if (ViewBag.DepartmentCount > 1 || ViewBag.DepartmentCount < 1)
                    {
                        <p>Departments</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="@Url.Action("Index", "Department", new { Area = "HRAdmin"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewBag.EmployeeCount</h3>

                    @if (ViewBag.EmployeeCount == 1)
                    {
                        <p>Employee</p>
                    }
                    @if (ViewBag.EmployeeCount > 1 || ViewBag.EmployeeCount < 1)
                    {
                        <p>Employees</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a href="@Url.Action("Index", "Employee", new { Area = "HRAdmin"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewBag.RankCount</h3>

                    @if (ViewBag.RankCount == 1)
                    {
                        <p>Rank</p>
                    }
                    @if (ViewBag.RankCount > 1 || ViewBag.RankCount < 1)
                    {
                        <p>Ranks</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
                <a href="@Url.Action("Index", "Rank", new { Area = "HRAdmin"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.LeaveCount</h3>

                    @if (ViewBag.LeaveCount == 1)
                    {
                        <p>Leave Type</p>
                    }
                    @if (ViewBag.LeaveCount > 1 || ViewBag.LeaveCount < 1)
                    {
                        <p>Leave Types</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-sign-out"></i>
                </div>
                <a href="@Url.Action("Index", "Leave", new { Area = "HRAdmin"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>
