@model BizzDesk_Leap_Client.Areas.HRAdmin.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@section menu{
    <li class="active"><a href="@Url.Action("Index", "Dashboard", new { Area = "HRAdmin"})"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li><a href="@Url.Action("Index", "Department", new { Area = "HRAdmin"})"><i class="fa fa-users"></i> <span>Departments</span></a></li>
    <li><a href="@Url.Action("Index", "Rank", new { Area = "HRAdmin"})"><i class="fa fa-star-o"></i> <span>Ranks</span></a></li>
    <li><a href="@Url.Action("Index", "Employee", new { Area = "HRAdmin"})"><i class="fa fa-user"></i> <span>Employees</span></a></li>
    <li><a href="@Url.Action("Index", "Leave", new { Area = "HRAdmin"})"><i class="fa fa-sign-out"></i> <span>Leaves</span></a></li>
}

<section class="content-header">
    <h1> @ViewBag.Title </h1>

    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                Home
            </a>
        </li>
        <li class="active">
            <a href="@Url.Action("Index", "Dashboard", new { Area = "HRAdmin"})">
                <i class="fa fa-sign-out"></i>
                Dashboard
            </a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.DepartmentCount</h3>

                    @if (ViewBag.DepartmentCount == 1)
                    {
                        <p>Department</p>
                    }
                    @if (ViewBag.DepartmentCount > 1 || ViewBag.DepartmentCount < 1)
                    {
                        <p>Departments</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="@Url.Action("Index", "Department", new { Area = "HRAdmin"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewBag.EmployeeCount</h3>

                    @if (ViewBag.EmployeeCount == 1) {
                    <p>Employee</p>
                    }
                    @if (ViewBag.EmployeeCount > 1 || ViewBag.EmployeeCount < 1)
                    {
                        <p>Employees</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a href="@Url.Action("Index", "Employee", new { Area = "HRAdmin"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewBag.RankCount</h3>

                    @if (ViewBag.RankCount == 1)
                    {
                        <p>Rank</p>
                    }
                    @if (ViewBag.RankCount > 1 || ViewBag.RankCount < 1)
                    {
                        <p>Ranks</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
                <a href="@Url.Action("Index", "Rank", new { Area = "HRAdmin"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.LeaveCount</h3>
                   
                     @if (ViewBag.LeaveCount == 1)
                    {
                        <p>Leave Type</p>
                    }
                    @if (ViewBag.LeaveCount > 1 || ViewBag.LeaveCount < 1)
                    {
                        <p>Leave Types</p>
                    }
                </div>
                <div class="icon">
                    <i class="fa fa-sign-out"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>


